.attendance-card {
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
    height: 110px;
  }
  
  .attendance-card .roll-no {
    font-size: 3em;
  }
  
  .attendance-card span {
    position: absolute;
    top: 5px;
    left: 5px;
  }
  
  .attendance-card .name {
    text-transform: capitalize;
  }

  .size{
    font-size: xx-large;
    font-weight: 550;
    color:black
  }

.cust{
  margin: 10px;
  height: 220px;
}

.txt{
  margin:10px;
}

.img{
  margin: 10px;
  border: black solid 1px;
}

  @media (max-width: 768px) {
    #page-heading {
      margin-top: 140px;
    }
  
    #banner {
      margin-top: 60px;
    }
  
    .attendance-card {
      margin: 6px;
    }
  
    .attendance-card .roll-no {
      font-size: 2em;
    }
  
    .attendance-card .name {
      font-size: 0.9em;
    }
  }


#option1{
	background-color: white;
	padding: 10px 10px 10px 30px;
	text-align: left;
}
#option2{
	background-color: white;
	padding: 10px 10px 10px 30px;
	text-align: left;
}
#option3{
	background-color: white;
	padding: 10px 10px 10px 30px;
	text-align: left;
}
#option4{
	background-color: white;   
	padding: 10px 10px 10px 30px;
	text-align: left;
}

  .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
  }
  button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
  }